{% extends 'base.html' %}

{% block title %}Bookmarks{% endblock title %}

{% block content %}
    
{% set orders = ['new', 'oldest', 'top', 'unpopular'] %}
{% set active_page = request.args.order_by|default('new') %}

<p>Category:<strong> {{category_name}}</strong></p>

<div id="bookmarks" class="container-fluid">
    <ul class="nav nav-tabs">
        {% for order in orders %}
        <li{% if order == active_page %} class="active"{% endif %}><a href={{ url_for(request.endpoint, order_by=order, **request.view_args)}}>{{ order }}</a></li>
        {% endfor %}
    </ul>
    </br>
    {% for item in paginator.items %}
    <div class="row" id={{loop.index}}>

            <div class="col-md-1" style="width:50px; padding: 22px 30px;">{{(loop.index + (paginator.prev_num * paginator.per_page))}}</div>

            <div id="votes" class="col-md-1" style="float:left; width:60px;">
                <div>
                    {% if g.user.is_authenticated() %}
                        {% set up_vote_color = ''%}
                        {% if 'Vote' in item and item['Vote'].direction == True %} {% set up_vote_color = 'rgb(255, 102, 0)' %} {% endif %}
                        <a class="btn-sm {{up_vote_color}}" href="#" id="up_vote{{loop.index}}" onClick="vote({{loop.index}}, '{{item['Bookmark'].title}}', 1)"><span class="glyphicon glyphicon-chevron-up" style="color:{{up_vote_color}}"></span></a>
                    {% else %}
                        <a class="btn-sm" href="#unauthenticated_vote" data-toggle="modal"><span class="glyphicon glyphicon-chevron-up"></span></a>
                    {% endif %}
                </div>

                <div id="total_vote_{{loop.index}}" style="padding: 4px 11px; line-height:1.5;"><strong>{{item['Bookmark'].rating}}</strong></div>

                <div>
                    {% if g.user.is_authenticated() %}
                        {% set down_vote_color = ''%}
                        {% if 'vote' in item and item['Vote'].direction == False %} {% set down_vote_color = 'rgb(255, 102, 0)' %} {% endif %}
                        <a class="btn-sm" href="#" id="down_vote{{loop.index}}" onClick="vote({{loop.index}}, '{{item['Bookmark'].title}}', -1)"><span class="glyphicon glyphicon-chevron-down" style="color:{{down_vote_color}}"></span></a>
                    {% else %}
                        <a class="btn-sm" href="#unauthenticated_vote" data-toggle="modal"><span class="glyphicon glyphicon-chevron-down"></span></a>
                    {% endif %}
                </div>
            </div>

            <div id="thumbnail" class="col-md-1 text-center" style="padding: 0px 0px 0px 0px; width:60px">
                <img src={{url_for('static', filename='/img/' + item['Bookmark'].thumbnail)}} alt="thumbnail" class="img-rounded" style="width:60px; height:60px;">
            </div>

            <div id="title" class="col-md-8">
                <p><a href={{item['Bookmark'].url}} target="_blank">{{item['Bookmark'].title}}</a></p>
                <p>submitted on: {{item['Bookmark'].created_on}} by <a href={{url_for('users.get_user', username=item['User'].username)}} target='_blank'>{{item['User'].username}}</a></p>
                <ul>
                    {% if g.user.is_authenticated() %}
                        {% if 'SaveBookmark' in item and item['SaveBookmark'].is_saved %}
                        <li><a id="save" href="#" onClick="save({{loop.index}}, {{item['Bookmark']._id}});return false;">unsave</a></li>
                        {% else %}
                        <li><a id="save" href="#" onClick="save({{loop.index}}, {{item['Bookmark']._id}});return false;">save</a></li>
                        {% endif %}

                        {% if item['Bookmark'].user_id == g.user._id %}
                            <li><a href={{ url_for('crud.update_bookmark', title=item['Bookmark'].title) }}>edit</a></li>
                        {% endif %}
                    {% endif %}
                </ul>
            </div>
        </div>
        <br>
    {% endfor %}
    <!--Modal when user is unauthenticated and tries to vote.-->
    <div id="unauthenticated_vote" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                You need to be logged in to vote bookmarks.
            </div>
        </div>
    </div>
</div>

<nav>
    <ul class="pagination">
        {% if paginator.has_prev %}
            <li><a href="{{url_for(request.endpoint, page=paginator.prev_num, **request.view_args)}}">‹ prev</a></li>
        {% else %}
            <li class="disabled"><a href="#">‹ prev</a></li>
        {% endif %}

        {% if paginator.has_next %}
            <li><a href="{{url_for(request.endpoint, page=paginator.next_num, **request.view_args)}}">next ›</a></li>
        {% else %}
            <li class="disabled"><a href="#">next ›</a></li>
        {% endif %}
    </ul>
</nav>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript">var csrftoken = "{{ csrf_token() }}"</script>
<script type="text/javascript" src="{{ url_for('static', filename='/js/my_script.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='/js/save_bookmark.js')}}"></script>

{% endblock content %}
