Flask==0.11
Flask-Bcrypt==0.7.1
Flask-DebugToolbar==0.10.0
Flask-Login==0.3.2
Flask-WTF==0.12
Flask-Classy==0.6.10
Flask-SQLAlchemy==2.1
SQLAlchemy-Wrapper==1.7.0
requests==2.10.0
beautifulsoup4==4.4.1
marshmallow==2.7.3
