{% extends 'base.html' %}

{% block title %}Login{% endblock title %}

{% block content %}
<div class="row">
    <div class="col s8 offset-s2">
        <div id="card" class="card transparent">
            <div class="card-content grey-text">
                <h4 class="center-align blue-grey-text">Sign in to PyBook</h4>
                <div class="row">
                    <div class="col s6 offset-s3">
                        <form method="POST" class="col s12">
                            {{ form.csrf_token }}
                            <div class="input-field col s12">
                                {% for error in form.email.errors %}
                                    <span class="right red-text">{{error}}</span>
                                {% endfor %}
                                <input id={{form.email.id}} type="email" name={{form.email.name}} class="validate">
                                <label for={{form.email.id}} data-error="wrong" data-success="correct">{{form.email.label.text}}</label>
                            </div>
                            <div class="input-field col s12">
                                {% for error in form.password.errors %}
                                    <span class="right red-text">{{error}}</span>
                                {% endfor %}
                                <input id={{form.password.id}} type="password" name={{form.password.name}}>
                                <label for={{form.password.id}}>{{form.password.label.text}}</label>
                            </div>
                            <div class="center-align">
                                <button id="submitButton" class="btn-large waves-effect waves-light" style="width:100%" type="submit" name="action">Sign in</button>
                            </div>
                            <br>
                            <p class="center-align">
                                <input type="checkbox" id={{form.remember_me.id}} name={{form.remember_me.name}}>
                                <label for={{form.remember_me.id}}>Keep me signed in</label>
                            </p>
                        </form>
                    </div>
                    <div class="col s6 offset-s3">
                        <br>
                        <p class="center-align"><a href="{{url_for('auth.request_password_reset')}}"><strong>I forgot my password</strong></a> | <a href="{{url_for('index.home')}}"><strong>Sign up</strong></a></p>
                    </div>
                </div>
            </div>
        </div>
        <div id="loadingCircle" class="preloader-wrapper" style="position:absolute; z-index:10; top:30%; left:49%;">
            <div class="spinner-layer spinner-blue-only">
            <div class="circle-clipper left"><div class="circle"></div></div>
            <div class="gap-patch"><div class="circle"></div></div>
            <div class="circle-clipper right"><div class="circle"></div></div>
        </div>
    </div>
</div>
{% endblock content %}
{% block scripts %}
<script>
document.addEventListener('DOMContentLoaded', function(){
    $('#submitButton').on('click', function(){
        document.getElementById('card').style.opacity = 0.3;
        document.getElementById('loadingCircle').className += ' active';
    });
})
</script>
{% endblock scripts %}
