{% extends 'base.html' %}

{% block title %}Change Password{% endblock title %}

{% block content %}
<div id="profile-tab" class="col s6 push-s3">
    <form method="POST" action="{{url_for('auth.reset_password', token=request.args.get('token'))}}">
        {{ form.csrf_token }}
        <div class="input-field col s12">
            {% for error in form.new_password.errors %}
                <span class="right red-text">{{error}}</span>
            {% endfor %}
            <input id={{form.new_password.id}} type="password" class="validate" name={{form.new_password.name}}>
            <label for={{form.new_password.id}} data-error="wrong" data-success="correct">{{form.new_password.label.text}}</label>
        </div>
        <div class="input-field col s12">
            {% for error in form.confirm_password.errors %}
                <span class="right red-text">{{error}}</span>
            {% endfor %}
            <input id={{form.confirm_password.id}} type="password" class="validate" name={{form.confirm_password.name}}>
            <label for={{form.confirm_password.id}} data-error="wrong" data-success="correct">{{form.confirm_password.label.text}}</label>
        </div>
        <div class="col s12 input-field" align="center" style="padding-bottom:20px; margin-top:0px;">{{recaptcha}}</div>
        <div class="center-align">
            <button class="btn waves-effect waves-light" type="submit" name="action">change password</button>
        </div>
    </form>
</div>
{% endblock content %}
