{% extends 'base.html' %}

{% block title %}Reset Password{% endblock title %}

{% block content %}
<div id="profile-tab" class="col s6 push-s3">
    <form method="POST" action="{{url_for('auth.request_password_reset')}}">
        {{ form.csrf_token }}
        <div class="input-field col s12">
            {% for error in form.email.errors %}<span class="right red-text">{{error}}</span>{% endfor %}
            <input id={{form.email.id}} type="email" name={{form.email.name}}>
            <label for={{form.email.id}} data-error="wrong" data-success="correct">{{form.email.label.text}}</label>
        </div>
        <div class="center-align">
            <button class="btn waves-effect waves-light" type="submit" name="action">reset password</button>
        </div>
    </form>
</div>
{% endblock content %}
