<html>
    <head>
        <title>{% block title %}{% endblock title %}</title>

        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link type="text/css" rel="stylesheet" href={{ url_for('static', filename="css/materialize.min.css")}}  media="screen,projection"/>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body style="display: flex; min-height: 100vh; flex-direction: column;"  class="grey lighten-5">
        <header>
            <nav>
                <div class="nav-wrapper blue-grey darken-3">
                    <a href="#" data-activates="mobile-demo" class="button-collapse show-on-large"><i class="material-icons">menu</i></a>
                    <a href={{ url_for('index.home')}} class="brand-logo center"><i class="material-icons">bookmark</i>PyBook</a>

                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li>
                            <form action={{url_for('bookmarks.search')}}>
                                <div class="input-field">
                                    <input id="search" type="search" required>
                                    <label for="search"><i class="material-icons">search</i></label>
                                    <i class="material-icons">close</i>
                                </div>
                            </form>
                        </li>
                        {% if g.user.is_authenticated %}
                        <li><a class="dropdown-button" href="#!" data-activates="dropdownNavUser"><i class="material-icons teal-text left">account_circle</i>{{g.user.username}}</a></li>
                        <ul id="dropdownNavUser" class="dropdown-content">
                            <li><a href="{{url_for('users.get_users', id=g.user.id)}}" class="black-text">Profile</a></li>
                            <li class="divider"></li>
                            <li><a href="{{ url_for('auth.logout') }}" class="black-text">Log out</a></li>
                        </ul>
                        {% else %}
                        <li><a href="{{ url_for('auth.login') }}" class="waves-effect waves-light btn" >Sign in</a></li>
                        {% endif %}
                    </ul>

                    <!-- Side links -->
                    <ul class="side-nav" id="mobile-demo">
                        <li><a href={{url_for('bookmarks.get')}}><i class="material-icons blue-grey-text">bookmark</i>Bookmarks</a></li>
                        <li><a href={{url_for('tags.get')}}><i class="material-icons blue-grey-text">label</i>Tags</a></li>
                        <li><a href={{url_for('users.get_users')}}><i class="material-icons blue-grey-text">people</i>Users</a></li>
                        <li class="divider"></li>
                        {% if g.user.is_authenticated %}
                        <li><a href="{{url_for('bookmarks_per_user.get_subscriptions', username=g.user.username)}}"><i class="material-icons teal-text">bookmark</i>Subscriptions</a></li>
                        <li><a href="{{url_for('bookmarks_per_user.get_bookmarks', username=g.user.username)}}"><i class="material-icons teal-text">bookmark</i>My bookmarks</a></li>
                        <li><a href="{{url_for('bookmarks_per_user.get_saved', username=g.user.username)}}"><i class="material-icons teal-text">star_rate</i>Saved</a></li>
                        <li class="divider"></li>
                        <li><a class="subheader">Subscriptions</a></li>
                        {% for user in g.user.subscribed.all() %}
                        <li><a href={{url_for('users.get_users', id=user.id)}}><i class="material-icons">perm_identity</i>{{user.username}}</a></li>
                        {% endfor %}
                        {% endif %}
                    </ul>
                </div>
            </nav>
        </header>

        <main style="flex: 1 0 auto;">

            <div class="container">
                <div class="row">
                    <div class="col s12">
                        <ul id="slide-out" class="side-nav"> </ul>
                    </div>
                    <div class="col s12">
                        {% block content %}{% endblock content %}
                    </div>
                </div>
            </div>
        </main>

        <footer class="page-footer blue-grey darken-4">
            <div class="footer-copyright">
                <div class="container">
                © 2016 Copyright Text
                    <a class="grey-text text-lighten-3 right valign-wrapper" href="https://github.com/ev-agelos/Python-bookmarks" target="_blank"><i class="tiny material-icons ">code</i>project</a>
                </div>
            </div>
        </footer>

        <!--Import jQuery before materialize.js-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script> 
        <script type="text/javascript" src={{url_for("static", filename="/js/materialize.min.js")}}></script>
        <script>$(document).ready(function(){$(".button-collapse").sideNav();});</script>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for _, message in messages %}
                <script>Materialize.toast('{{message}}', 3000, 'rounded')</script>
                {% endfor %}
            {% endif %}
        {% endwith %}

        {% block scripts %}{% endblock scripts %}
    </body>
</html>
