<html>
    <head>
    <title>{% block title %}{% endblock title %}</title>
    </head>

    <body>
        <ul>
            <li style="display:inline; padding: 8px;"><a href="{{ url_for('home') }}">Home</a></li>
            <li style="display:inline; padding: 8px;">|</li>
            <li style="display:inline; padding: 8px;"><a href="{{url_for('get_users')}}">Users</a></li>
            <li style="display:inline; padding: 8px;">|</li>
            <li style="display:inline; padding: 8px;"><a href="{{url_for('get_categories')}}">Categories</a></li>
            <li style="display:inline; padding: 8px;">|</li>

            {% if g.user.is_authenticated() %}
                <li style="display:inline; padding: 8px;">Welcome {{g.user.username}}</li>
                <li style="display:inline; padding: 8px;">|</li>
                <li style="display:inline; padding: 8px;"><a href="{{url_for('UsersView:get_categories_by_user', username=g.user.username, page=1)}}">My categories</a></li>
                <li style="display:inline; padding: 8px;">|</li>
                <li style="display:inline; padding: 8px;"><a href="{{url_for('add_bookmark', username=g.user.username)}}">Add</a></li>
                <li style="display:inline; padding: 8px;">|</li>
                <li style="display:inline; padding: 8px;"><a href="{{url_for('import_bookmarks')}}">Import</a></li>
                <li style="display:inline; padding: 8px;">|</li>
                <li style="display:inline; padding: 8px;"><a href="{{ url_for('logout') }}">Log out</a></li>
            {% else %}
                <li style="display:inline; padding: 8px;"><a href="{{ url_for('login') }}">Log in</a></li>
                <li style="display:inline; padding: 8px;">|</li>
                <li style="display:inline; padding: 8px;"><a href="{{ url_for('register') }}">Register</a></li>
            {% endif %}
        <ul>
        <br>

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class=flashes>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        <br>

        {% block content %}{% endblock content %}

    </body>
</html>
