{% extends 'base.html' %}

{% block title %}Categories{% endblock title %}

{% block content %}
    <div style="clear:both">
        <p>Categories</p>
        <ul>
            {% for category_name, bookmarks_count in categories.items %}
            <li><a href="categories/{{category_name}}">{{category_name}}</a> ({{bookmarks_count}})</li><br>
            {% endfor %}
        </ul>
    </div>

    <div id="nav-buttons">
        {% if categories.has_prev %}
            <a href="{{url_for(request.endpoint, page=categories.prev_num, **request.view_args)}}">‹ prev</a>
        {% endif %}
        | 
        {% if categories.has_next %}
            <a href="{{url_for(request.endpoint, page=categories.next_num, **request.view_args)}}">next ›</a>
        {% endif %}
    </div>
{% endblock content %}
