{% extends 'base.html' %}

{% block title %}Bookmarks{% endblock title %}

{% block content %}

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript">var csrftoken = "{{ csrf_token() }}"</script>
    <script type="text/javascript" src="{{ url_for('static', filename='/js/my_script.js')}}"></script>

    <p>Category:<strong> {{category_name}}</strong></p>
    <ul>
        {% for bookmark, user in bookmarks %}
            <li style="display:inline;">
            <div>
                <div id="votes" style="display:inline-block; position:relative; margin-right: 20px">
                    <div>
                        {% if current_user.is_authenticated()  and current_user._id != bookmark.user_id %}
                            {% if bookmark.vote == 1 %}
                                <input type="Button" value="&#9650;"
                                style="color: rgb(255, 102, 0)" id="up_vote{{loop.index}}" onClick="vote({{loop.index}}, '{{bookmark.title}}', 1)">
                            {% else %}
                                <input type="Button" value="&#9650;" id="up_vote{{loop.index}}" onClick="vote({{loop.index}}, '{{bookmark.title}}', 1)">
                            {% endif %}
                        {% endif %}
                    </div>

                    <div id="{{ loop.index }}" style="text-align: center; font-size: 1.2em;">{{ bookmark.rating }}</div>

                    <div>
                        {% if request.endpoint == 'get_user_bookmarks_by_category' and request.url.split('users/').1.0|int == current_user._id %}
                            <form action={{ url_for('update_bookmark', user_id=current_user._id, bookmark_title=bookmark.title) }} method="GET" style="display:inline; padding:20px">
                                <input type="submit" value="Edit">
                            </form>
                        {% endif %}
                    </div>

                    <div>
                        {% if current_user.is_authenticated() and current_user._id != bookmark.user_id %}
                            {% if bookmark.vote == 0 %}
                                <input type="Button" value="&#9660;" style="background: rgb(255, 102, 0)" id="up_vote{{loop.index}}" onClick="vote({{loop.index}}, '{{bookmark.title}}', 1)">
                            {% else %}
                                <input type="Button" value="&#9660;" id="down_vote{{loop.index}}" onClick="vote({{loop.index}}, '{{bookmark.title}}', -1)">
                            {% endif %}
                        {% endif %}
                    </div>
                </div>

                <div id="title" style="display:inline-block; position:relative; ">
                    <div style="font-size: 1.2em;"><a href="{{bookmark.url}}" target="_blank">{{bookmark.title}}</a></div>
                    <strong>Submitted on: </strong>{{bookmark.created_on}} <strong> by</strong> <a href={{url_for('get_users', username=user.username)}} target='_blank'>{{user.username}}</a>
                </div>

            </div>
            </li><br>

        {% endfor %}
    </ul>
{% endblock content %}
