{% from "_formhelpers.html" import render_field %}
{% extends 'base.html' %}

{% block title %}Login{% endblock title %}

{% block content %}
    <form action="/login"  method="POST">
        <dl>
            {{ form.csrf_token }}
            {{ render_field(form.email) }}
            {{ render_field(form.password) }}
            {{ render_field(form.remember_me)}}
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul>
                    {% for message in messages %}
                        <li>{{ message }} </li>
                    {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
        </dl>
        <p><input type="submit" value="Login">
    </form>
{% endblock content %}
