{% extends 'bookmarks/_add_or_update.html' %}

{% block title %}Add bookmark{% endblock title %}

{% block form_id %}id="addBookmarkForm"{% endblock form_id %}
{% block button_label %}Add{% endblock button_label %}

{% block scripts %}
<script type="text/javascript" src="{{ url_for('static', filename='/js/add_bookmark.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='/js/suggest_title.js')}}"></script>
<script>$('.chips').material_chip();</script>
{% endblock scripts %}
