{% extends 'base.html' %}

{% block meta %}<meta name="csrf-token" content="{{ csrf_token() }}">{% endblock meta %}
{% block title %}Saved bookmarks{% endblock title %}

{% block content %}
<ul class="collection">
    {% for bookmark in paginator.items %}
    <li class="collection-item">
        <div>
            <a href="{{bookmark.url}}" target="_blank" rel="noopener noreferrer">{{bookmark.title}}</a>
            <a href="#!" class="secondary-content saveIcon" data-bookmark-id={{bookmark.id}}>
                <i class="material-icons">star</i>
            </a>
        </div>
    </li>
    {% endfor %}
</ul>
{% endblock content %}


{% block scripts %}
<script type="text/javascript" src="{{ url_for('static', filename='/js/saving_bookmark.js')}}"></script>
{% endblock scripts %}
