{% extends 'base.html' %}

{% block title %}Bookmarks{% endblock title %}

{% block content %}

{% set orders = ['new', 'oldest', 'top', 'unpopular'] %}
{% set active_page = request.args.order_by|default('new') %}

<div class="row">
    <div class="col s11" id="contentList">
    {% for bookmark in paginator.items %}
        <div class="row valign-wrapper">
            <div class="col s1 offset-s2">
                <div class="row"></div>
                <div class="row">
                    {{(loop.index + (paginator.prev_num * paginator.per_page))}}
                </div>
                <div class="row"></div>
            </div>
            <div class="col s1 pull-s1" data-bookmark-id="{{bookmark.id}}">
                <div class="row center-align">
                    {% if g.user.is_authenticated %}
                    <a class="btn-floating btn waves-effect waves-light white" href="#" id="upVoteLink" {% if bookmark.vote %}style="color:rgb(255, 102, 0)"{% endif %}>
                        <i class="material-icons teal-text text-accent-4">add</i>
                    </a>
                    {% else %}
                    <a class="btn-floating btn white disabled" href="#"><i class="material-icons">add</i></a>
                    {% endif %}
                </div>

                <div class="row center-align" id="rating">{{bookmark.rating}}</div>

                <div class="row center-align">
                {% if g.user.is_authenticated %}
                    <a class="btn-floating btn waves-effect waves-light white" href="#" id="downVoteLink" {% if bookmark.vote == False %}style="color:rgb(255, 102, 0)"{% endif %}>
                        <i class="material-icons orange-text text-accent-4">remove</i>
                    </a>
                {% else %}
                    <a class="btn-floating btn white disabled" href="#"><i class="material-icons">remove</i></a>
                {% endif %}
                </div>
            </div>
            <div class="col s8 pull-s1">
                <div class="card horizontal valign-wrapper">
                    <div class="card-image col s2 valign">
                        <img src={{url_for('static', filename='/img/' + (bookmark.image or 'default.png'))}} alt="" class="circle responsive-img">
                    </div>
                    <div class="card-stacked">
                        <div class="card-content">
                            <span id="title_{{loop.index}}" class="card-title">
                                <a href={{bookmark.url}} target="_blank">{{bookmark.title}}</a>
                                {% if g.user.is_authenticated %}
                                <a href="#">
                                    <i id="saveIcon" data-bookmark-id={{bookmark.id}} class="material-icons right teal-text text-accent-4">{% if bookmark in g.user.favourites %}star{% else %}star_border{% endif %}</i>
                                </a>
                                {% endif %}
                            </span>
                        </div>
                        <div class="card-action">
                            <span style="font-weight:300" class="blue-grey-text text-lighten-1">added {{bookmark.get_human_time()}} by <a href={{url_for('users.get_user', username=bookmark.user.username)}} target='_blank'>{{bookmark.user.username}}</a> in {{bookmark.category.name}}</span>
                            <span class="card-title activator"><i class="material-icons right">more_vert</i></span>
                        </div>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title"><i class="material-icons right">close</i></span>
                        {% if g.user.is_authenticated and bookmark.user_id == g.user.id %}
                            <a href="#delete-modal-{{loop.index}}" class="modal-trigger btn">delete</a>
                            <a href={{url_for('bookmarks.update', id=bookmark.id)}} class="btn">edit</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <!-- Delete Modal Structure -->
        <div id="delete-modal-{{loop.index}}" class="modal">
            <div class="modal-content">
                <h4>Delete bookmark</h4>
                <p>Are you sure?</p>
            </div>
            <div class="modal-footer">
                <a id="deleteButton" href="#!" class="modal-action modal-close btn-flat" data-bookmark-id={{bookmark.id}}>Yes</a>
                <a href="#!" class="modal-action modal-close btn-flat ">No</a>
            </div>
        </div>
        {% endfor %}
        {% if g.user.is_authenticated %}
        <div class="fixed-action-btn">
            <a class="btn-floating btn-large orange accent-4" href="{{url_for('bookmarks.add')}}"><i class="large material-icons">add</i></a>
        </div>
        {% endif %}
    </div>

    <div class="col s1">
        <!-- Sort Dropdown Trigger -->
        <a class='dropdown-button btn teal accent-4' href='#' data-activates='sort_by'>Sort</a>
    </div>
    <!-- Sort Dropdown Structure -->
    <ul id='sort_by' class='dropdown-content'>
        {% for order in orders %}
        <li><a href={{ url_for(request.endpoint, order_by=order, **request.view_args)}} target="_self" class="{% if order == active_page %}active{% endif %} black-text">{{order}}</a></li>
        {% endfor %}
    </ul>
</div>





<div class="row">
    <div class="col s12 offset-s3">
        <ul class="pagination">
            {% if paginator.has_prev %}
                <li><a href="{{url_for(request.endpoint, page=paginator.prev_num, **request.view_args)}}"><i class="material-icons">chevron_left</i></a></li>
            {% else %}
                <li class="disabled"><a><i class="material-icons">chevron_left</i></a></li>
            {% endif %}

            <li class="waves-effect active"><a href="#!">{{paginator.page}}</a></li>

            {% if paginator.has_next %}
                <li><a href="{{url_for(request.endpoint, page=paginator.next_num, **request.view_args)}}"><i class="material-icons">chevron_right</i></a></li>
            {% else %}
                <li class="disabled"><a><i class="material-icons">chevron_right</i></a></li>
            {% endif %}

        </ul>
    </div>
</div>

{% endblock content %}

{% block scripts %}
<script type="text/javascript">var csrftoken = "{{ csrf_token() }}"</script>
<script>$(document).ready(function(){$('.modal').modal();});</script>

<script type="text/javascript" src="{{ url_for('static', filename='/js/saving_bookmark.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='/js/delete_bookmark.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='/js/voting_script.js')}}"></script>
<script>
    document.addEventListener('DOMContentLoaded', function(){
        $('#contentList').on('click', '#saveIcon', handleFavouriting);
        $('#contentList').on('click', '#deleteButton', deleteBookmark);
        $('#contentList').on('click', '#upVoteLink', upVoteBookmark);
        $('#contentList').on('click', '#downVoteLink', downVoteBookmark);
    });
</script>

{% endblock scripts %}
