{% extends 'base.html' %}

{% block title %}Bookmarks{% endblock title %}
{% block meta %}<meta name="csrf-token" content="{{ csrf_token() }}">{% endblock meta %}

{% block content %}

{% set active_page = request.args.sort|default('new') %}

<div class="row">
    <div class="col s10" id="contentList">

    {% for bookmark in paginator.items %}
        <div class="row valign-wrapper">

            <div id="rating" class="col s1" data-bookmark-id="{{bookmark.id}}" {% if bookmark.vote %}data-vote-id="{{bookmark.vote.id}}"{% endif %}>
                <div id="ratingUp" class="row center-align">
                    {% if g.user.is_authenticated %}
                    <a class="upVoteLink btn-floating btn waves-effect waves-light {% if bookmark.vote and bookmark.vote.direction is sameas true %}grey lighten-2{% else %}white{% endif %}" href="#">
                        <i class="material-icons teal-text text-accent-4">add</i>
                    </a>
                    {% else %}
                    <a class="btn-floating btn white disabled" href="#"><i class="material-icons">add</i></a>
                    {% endif %}
                </div>

                <div id="ratingNumber" class="row center-align">{{bookmark.rating}}</div>

                <div id="ratingDown" class="row center-align">
                {% if g.user.is_authenticated %}
                    <a class="downVoteLink btn-floating btn waves-effect waves-light {% if bookmark.vote and bookmark.vote.direction is sameas false %}grey lighten-2{% else %}white{% endif %}" href="#">
                        <i class="material-icons orange-text text-accent-4">remove</i>
                    </a>
                {% else %}
                    <a class="btn-floating btn white disabled" href="#"><i class="material-icons">remove</i></a>
                {% endif %}
                </div>
            </div>

            <div class="col s7 pull-s2">
                <div class="card horizontal valign-wrapper">

                    <div class="card-image col s2 valign">
                        <img src={% if bookmark.image %} {{bookmark.image}} {% else%} {{url_for('static', filename='/img/default.png')}} {% endif %} alt="" class="circle responsive-img">
                    </div>

                    <div class="card-stacked">
                        <div class="card-content">
                            <span id="title_{{loop.index}}" class="card-title activator">
                                <i class="material-icons right">more_vert</i>
                                <a href={{bookmark.url}} target="_blank" rel="noopener noreferrer">{{bookmark.title}}</a>
                            </span>
                        </div>

                        <div class="card-action">
                            <span style="font-weight:300" class="blue-grey-text text-lighten-1"> added {{bookmark.get_human_time()}} by
                                <a id="usernameLink" href="#" data-user-id="{{bookmark.user.id}}" data-username="{{bookmark.user.username}}">{{bookmark.user.username}}</a></span>
                            {% for tag in bookmark.tags %}
                                <span class="new badge" data-badge-caption="">{{tag.name}}</span>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="card-reveal">
                        <span class="card-title"><i class="material-icons right">close</i></span>
                        {% if g.user.is_authenticated %}
                        <a href="#" class="btn-flat btn-large saveIcon" data-bookmark-id={{bookmark.id}}>
                            <i class="material-icons teal-text text-accent-4">{% if g.user.favourites.filter_by(bookmark_id=bookmark.id).scalar() %}star{% else %}star_border{% endif %}</i>
                        </a>
                        {% endif %}
                        {% if g.user.is_authenticated and bookmark.user_id == g.user.id %}
                        <a href="#delete-modal-{{loop.index}}" class="modal-trigger btn-flat btn-large"><i class="material-icons red-text">delete</i></a>
                        <a id="editBookmarkLink" href="{{url_for('bookmarks_api.BookmarkAPI', id=bookmark.id)}}" class="btn-flat btn-large"><i class="material-icons blue-text">create</i></a>
                        {% endif %}
                    </div>

                </div>
            </div>
        </div>

        <!-- Delete Modal Structure -->
        <div id="delete-modal-{{loop.index}}" class="modal col s3 offset-s2">
            <div class="modal-content">
                <h4>Delete bookmark</h4>
                <p>Are you sure?</p>
            </div>
            <div class="modal-footer">
                <a href="#!" class="deleteButton modal-action modal-close btn-flat" data-bookmark-id={{bookmark.id}}>Yes</a>
                <a href="#!" class="modal-action modal-close btn-flat ">No</a>
            </div>
        </div>
        {% endfor %}

        <!-- Add bookmark button -->
        <div class="fixed-action-btn">
            <a class="btn-floating btn-large modal-trigger" href="#addBookmarkModal"><i class="large material-icons">add</i></a>
        </div>

    </div>

    <!-- Sort Dropdown Trigger -->
    <div class="col s2">
        <a class='dropdown-trigger btn' href='#' data-target='sort_by'><i class="material-icons left">sort</i>Sort</a>
    </div>
    <!-- Sort Dropdown Structure -->
    <ul id='sort_by' class='dropdown-content'>
        {% for name, order in [('new', 'date'), ('oldest', '-date'), ('top', 'rating'), ('unpopular', '-rating')] %}
            <li><a href={{ url_for(request.endpoint, **dict(dict(request.args, **request.view_args), sort=order)) }} target="_self" class="{% if order == active_page %}active{% endif %}">{{name}}</a></li>
        {% endfor %}
    </ul>
</div>


<!-- Add Bookmark modal -->
<div id="addBookmarkModal" class="modal">
    <div class="modal-content">

        <form id="addBookmarkForm">
            {{ form.csrf_token }}
            {% if form.tags.errors %}
                {% for error in form.tags.errors %}
                    {{ error }}
                {% endfor %}
            {% endif %}
            <div class="row">
                <div class="input-field col s6 offset-s3">
                    {{form.url}}
                    <label for={{form.url.id}}>{{form.url.label.text}}</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s6 offset-s3">
                    {{form.title}}
                    <label for={{form.title.id}} id="{{form.title.id}}Label">{{form.title.label.text}}</label>
                </div>
                <button id="suggestTitle" type="button" class="btn left">Suggest</button>
            </div>

            <div class="row">
                <div class="col s6 push-s3">
                    <div class="input-field chips chips-initial"></div>
                </div>
            </div>

            <div class="modal-footer">
                <a href="#!" class="modal-close waves-effect waves-red btn-flat">Cancel</a>
                <button class="btn-flat waves-effect waves-green" type="submit" name="action">Add</button>
            </div>
        </form>

    </div>
</div>


<!-- Edit Bookmark modal -->
<div id="editBookmarkModal" class="modal">
    <div class="modal-content">

        <form id="editBookmarkForm">
            {{ form.csrf_token }}
            {% if form.tags.errors %}
                {% for error in form.tags.errors %}
                    {{ error }}
                {% endfor %}
            {% endif %}
            <div class="row">
                <div class="input-field col s6 offset-s3">
                    {{form.url}}
                    <label for={{form.url.id}}>{{form.url.label.text}}</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s6 offset-s3">
                    {{form.title}}
                    <label for={{form.title.id}} id="{{form.title.id}}Label">{{form.title.label.text}}</label>
                </div>
                <button id="suggestTitle" type="button" class="btn left">Suggest</button>
            </div>

            <div class="row">
                <div class="col s6 push-s3">
                    <div class="input-field chips chips-initial"></div>
                </div>
            </div>

            <div class="modal-footer">
                <a href="#!" class="modal-close waves-effect waves-red btn-flat">Cancel</a>
                <button class="btn-flat waves-effect waves-green" type="submit" name="action">Update</button>
            </div>
        </form>

    </div>
</div>

<!-- Modal Subscribe -->
<div id="subscribeModal" class="modal col s2 offset-s2">
    <div class="modal-content">
        <div class="switch">
            Subscription
            <label>
                <input id="subscriptionCheckbox" type="checkbox">
                <span class="lever"></span>
            </label>
        </div>
    </div>
</div>

<div class="row">
    <div class="col s12 center">
        <ul class="pagination">
            {% if paginator.has_prev %}
                <li><a href="{{url_for(request.endpoint, page=paginator.prev_num, **request.view_args)}}"><i class="material-icons">chevron_left</i></a></li>
            {% else %}
                <li class="disabled"><a><i class="material-icons">chevron_left</i></a></li>
            {% endif %}

            <li class="waves-effect active"><a href="#!">{{paginator.page}}</a></li>

            {% if paginator.has_next %}
                <li><a href="{{url_for(request.endpoint, page=paginator.next_num, **request.view_args)}}"><i class="material-icons">chevron_right</i></a></li>
            {% else %}
                <li class="disabled"><a><i class="material-icons">chevron_right</i></a></li>
            {% endif %}

        </ul>
    </div>
</div>

{% endblock content %}

{% block scripts %}
<script type="text/javascript" src="{{ url_for('static', filename='/js/saving_bookmark.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='/js/delete_bookmark.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='/js/voting_script.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='/js/add_bookmark.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='/js/update_bookmark.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='/js/suggest_title.js')}}"></script>
{% endblock scripts %}
