{% extends 'base.html' %}

{% block title %}Bookmarks{% endblock title %}
{% block meta %}<meta name="csrf-token" content="{{ csrf_token() }}">{% endblock meta %}

{% block content %}

{% set active_page = request.args.sort|default('new') %}

<div class="row">
    <div class="col s11" id="contentList">
    {% for bookmark in paginator.items %}
        <div class="row valign-wrapper">
            <div class="col s1" data-bookmark-id="{{bookmark.id}}">
                <div class="row center-align">
                    {% if g.user.is_authenticated %}
                    <a class="btn-floating btn waves-effect waves-light white" href="#" id="upVoteLink" {% if bookmark.vote %}style="color:rgb(255, 102, 0)"{% endif %}>
                        <i class="material-icons teal-text text-accent-4">add</i>
                    </a>
                    {% else %}
                    <a class="btn-floating btn white disabled" href="#"><i class="material-icons">add</i></a>
                    {% endif %}
                </div>

                <div class="row center-align" id="rating">{{bookmark.rating}}</div>

                <div class="row center-align">
                {% if g.user.is_authenticated %}
                    <a class="btn-floating btn waves-effect waves-light white" href="#" id="downVoteLink" {% if bookmark.vote == False %}style="color:rgb(255, 102, 0)"{% endif %}>
                        <i class="material-icons orange-text text-accent-4">remove</i>
                    </a>
                {% else %}
                    <a class="btn-floating btn white disabled" href="#"><i class="material-icons">remove</i></a>
                {% endif %}
                </div>
            </div>
            <div class="col s7 pull-s2">
                <div class="card horizontal valign-wrapper">
                    <div class="card-image col s2 valign">
                        <img src={% if bookmark.image %} {{bookmark.image}} {% else%} {{url_for('static', filename='/img/default.png')}} {% endif %} alt="" class="circle responsive-img">
                    </div>
                    <div class="card-stacked">
                        <div class="card-content">
                            <span id="title_{{loop.index}}" class="card-title activator">
                                <i class="material-icons right">more_vert</i>
                                <a href={{bookmark.url}} target="_blank">{{bookmark.title}}</a>
                            </span>
                        </div>
                        <div class="card-action">
                            <span style="font-weight:300" class="blue-grey-text text-lighten-1"> added {{bookmark.get_human_time()}} by
                                <a href={{url_for('users.get_users', id=bookmark.user.id)}} target='_blank' style="margin:0">{{bookmark.user.username}}</a></span>
                            {% for tag in bookmark.tags %}
                                <span class="new badge" data-badge-caption="">{{tag.name}}</span>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title"><i class="material-icons right">close</i></span>
                        {% if g.user.is_authenticated %}
                        <a href="#" class="btn-flat btn-large">
                            <i id="saveIcon" data-bookmark-id={{bookmark.id}} class="material-icons teal-text text-accent-4">{% if g.user.favourites.filter_by(bookmark_id=bookmark.id).scalar() %}star{% else %}star_border{% endif %}</i>
                        </a>
                        {% endif %}
                        {% if g.user.is_authenticated and bookmark.user_id == g.user.id %}
                        <a href="#delete-modal-{{loop.index}}" class="modal-trigger btn-flat btn-large"><i class="material-icons red-text">delete</i></a>
                            <a href={{url_for('bookmarks.update', id=bookmark.id)}} class="btn-flat btn-large"><i class="material-icons blue-text">create</i></a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <!-- Delete Modal Structure -->
        <div id="delete-modal-{{loop.index}}" class="modal col s3 offset-s2">
            <div class="modal-content">
                <h4>Delete bookmark</h4>
                <p>Are you sure?</p>
            </div>
            <div class="modal-footer">
                <a id="deleteButton" href="#!" class="modal-action modal-close btn-flat" data-bookmark-id={{bookmark.id}}>Yes</a>
                <a href="#!" class="modal-action modal-close btn-flat ">No</a>
            </div>
        </div>
        {% endfor %}
        {% if g.user.is_authenticated %}
        <div class="fixed-action-btn">
            <a class="btn-floating btn-large" href="{{url_for('bookmarks.add')}}"><i class="large material-icons">add</i></a>
        </div>
        {% endif %}
    </div>

    <div class="col s1">
        <!-- Sort Dropdown Trigger -->
        <a class='dropdown-button btn' href='#' data-activates='sort_by'><i class="material-icons">sort</i></a>
    </div>
    <!-- Sort Dropdown Structure -->
    <ul id='sort_by' class='dropdown-content'>
        {% for name, order in [('new', 'date'), ('oldest', '-date'), ('top', 'rating'), ('unpopular', '-rating')] %}
            <li><a href={{ url_for(request.endpoint, **dict(dict(request.args, **request.view_args), sort=order)) }} target="_self" class="{% if order == active_page %}active{% endif %}">{{name}}</a></li>
        {% endfor %}
    </ul>
</div>





<div class="row">
    <div class="col s12 center">
        <ul class="pagination">
            {% if paginator.has_prev %}
                <li><a href="{{url_for(request.endpoint, page=paginator.prev_num, **request.view_args)}}"><i class="material-icons">chevron_left</i></a></li>
            {% else %}
                <li class="disabled"><a><i class="material-icons">chevron_left</i></a></li>
            {% endif %}

            <li class="waves-effect active"><a href="#!">{{paginator.page}}</a></li>

            {% if paginator.has_next %}
                <li><a href="{{url_for(request.endpoint, page=paginator.next_num, **request.view_args)}}"><i class="material-icons">chevron_right</i></a></li>
            {% else %}
                <li class="disabled"><a><i class="material-icons">chevron_right</i></a></li>
            {% endif %}

        </ul>
    </div>
</div>

{% endblock content %}

{% block scripts %}
<script type="text/javascript" src="{{ url_for('static', filename='/js/saving_bookmark.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='/js/delete_bookmark.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='/js/voting_script.js')}}"></script>
{% endblock scripts %}
