{% extends 'base.html' %}

{% block title %}My links{% endblock title %}

{% block content %}
<ul class="collection">
    {% for bookmark in paginator.items %}
    <li class="collection-item">
        <div>
            {{bookmark.title}}
            <a href="#!" class="secondary-content" onClick="save({{loop.index}}, {{bookmark.id}});return false;">
                <i id="save{{loop.index}}" class="material-icons">star</i>
            </a>
        </div>
    </li>
    {% endfor %}
</ul>
{% endblock content %}


{% block scripts %}
<script type="text/javascript" src="{{ url_for('static', filename='/js/save_bookmark.js')}}"></script>
{% endblock scripts %}
