{% extends 'bookmarks/_add_or_update.html' %}

{% block title %}Update bookmark{% endblock title %}

{% block form_id %}id="updateBookmarkForm" data-bookmark-id={{bookmark_id}}{% endblock form_id %}
{% block button_label %}Update{% endblock button_label %}

{% block scripts %}
<script type="text/javascript" src="{{ url_for('static', filename='/js/update_bookmark.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='/js/suggest_title.js')}}"></script>
{% endblock scripts %}
