{% from "_formhelpers.html" import render_field %}
{% extends 'base.html' %}

{% block title %}Add bookmark{% endblock title %}

{% block content %}
<form class="form-horizontal" method="POST">
    {{ form.csrf_token }}
        {{ render_field(form.category) }}
        {{ render_field(form.title) }}
        {{ render_field(form.url) }}
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">Add</button>
                <button type="button" class="btn btn-default" onClick="suggest()">Suggest title</button>
            </div>
        </div>
</form>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='/js/suggest_title.js')}}"></script>
{% endblock content %}
