{% extends 'base.html' %}

{% block title %}Categories{% endblock title %}

{% block content %}


<div style="clear:both">
    <p>Categories</p>
    <ul>
        {% for category_name, bookmarks_count in paginator.items %}
        <li><a href="/bookmarks/categories/{{category_name}}">{{category_name}}</a> ({{bookmarks_count}})</li><br>
        {% endfor %}
    </ul>
</div>


<!-- Page Navigation -->
<nav>
    <ul class="pagination">
        {% if paginator.has_prev %}
        <li><a href="{{url_for(request.endpoint, page=paginator.prev_num, **request.view_args)}}">‹ prev</a></li>
        {% else %}
            <li class="disabled"><a href="#">‹ prev</a></li>
        {% endif %}
        {% if paginator.has_next %}
        <li><a href="{{url_for(request.endpoint, page=paginator.next_num, **request.view_args)}}">next ›</a></li>
        {% else %}
            <li class="disabled"><a href="#">next ›</a></li>
        {% endif %}
    </ul>
</nav>
{% endblock content %}
