{% from "_formhelpers.html" import render_field %}
{% extends 'base.html' %}

{% block title %}Login{% endblock title %}

{% block content %}
<form class="form-horizontal" action="{{ url_for('login') }}"  method="POST">
    {{ form.csrf_token }}

    {{ render_field(form.email) }}
    {{ render_field(form.password) }}
    {{ render_field(form.remember_me)}}

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <input type="submit" class="btn btn-success" value="Login">
        </div>
    </div>
</form>
{% endblock content %}
