{% from "_formhelpers.html" import render_field %}
{% extends 'base.html' %}

{% block title %}Register{% endblock title %}

{% block content %}
<form action="/register"  method="POST" class="form-horizontal">
    {{ form.csrf_token }}
    {{ render_field(form.username) }}
    {{ render_field(form.email) }}
    {{ render_field(form.password) }}
    {{ render_field(form.confirm_password) }}
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <input type="submit" class="btn btn-success" value="Register">
        </div>
    </div>
</form>
{% endblock content %}
