<html>
    <head>
    <title>{% block title %}{% endblock title %}</title>

    <link href={{ url_for('static', filename='css/bootstrap.min.css')}} rel="stylesheet" media="screen">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src={{ url_for('static', filename='/js/bootstrap.min.js') }}></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body>
        <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href={{ url_for('index.home')}}>PyBookmarks</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href={{url_for('users.get_users')}}><span class="glyphicon glyphicon-user"></span> Users</a></li>
                    <li><a href={{url_for('BookmarksView:get')}}><span class="glyphicon glyphicon-link"></span> Bookmarks</a></li>
                    <li><a href={{url_for('BookmarksView:get_categories')}}><span class="glyphicon glyphicon-tag"></span> Categories</a></li>
                </ul>
                <form class="navbar-form navbar-left" role="search" action={{url_for('BookmarksView:search')}}>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search">
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>

                <ul class="nav navbar-nav navbar-right">
                    {% if g.user.is_authenticated() %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Welcome {{g.user.username}} <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{url_for('UsersView:get_user_bookmarks_by_category', username=g.user.username, name='all')}}">My bookmarks</a></li>
                            <li><a href="{{url_for('UsersView:get_user_categories', username=g.user.username)}}">My categories</a></li>
                            <li><a href="{{url_for('UsersView:get_user_saved_bookmarks', username=g.user.username)}}"><span class="glyphicon glyphicon-floppy-disk"></span> Saved</a></li>
                            <li><a href="{{url_for('crud.add_bookmark', username=g.user.username)}}"><span class="glyphicon glyphicon-plus-sign"></span> Add</a></li>
                            <li><a href="{{url_for('crud.import_bookmarks')}}"><span class="glyphicon glyphicon-import"></span> Import</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="{{ url_for('auth.logout') }}"><span class="glyphicon glyphicon-off"></span> Log out</a></li>
                        </ul>
                    </li>
                    {% else %}
                        <li><a href="{{ url_for('auth.register') }}">Register</a></li>
                        <li><a href="{{ url_for('auth.login') }}">Log in</a></li>
                    {% endif %}
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
        </nav>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}" role="alert">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <br>

        {% block content %}{% endblock content %}

    </body>
</html>
